{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card mb-3 p-2 shadow-sm rounded-5 bg-light">
    {% if post.preview %}
    <img src="{{ post.preview.url }}" class="d-block mx-auto rounded-5" style="width: 80%; max-height: 400px; object-fit: cover; " alt="...">
    {% else %}
    <img src="/media/default_images/not_found.png" class="d-block mx-auto rounded-5" style="width: 80%; max-height: 400px; object-fit: cover; " alt="...">
    {% endif %}
    <div class="card-body">
    <h1 class="card-title">{{ post.title }}</h1>
    <p class="card-text p-2">{{ post.content }}</p>
    <p class="card-text"><small class="text-muted">Создано: {{ post.created_at }}</small></p>
     <div class="d-flex gap-2 justify-content-center">
    <a class="btn btn-primary" style="width: 200px;" href="{% url 'blogs:blogpost_list' %}">Назад</a>
</div>
</div>
          <p class="p-2 text-end">

                <img src="/media/icons/view_icon.svg" alt="иконка" style="width: 20px; height: 20px; margin-right: 5px;">
                {{ post.views_count }} просмотров
            </p>
  </div>
</div>
                </div>
              </div>
          </div>
    </div>
  </div>
{% endblock %}