{% extends 'base.html' %}

{% block title %}Список продуктов — Skystore{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center ">Список продуктов</h1>
    <p class="lead text-center">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели продать</p>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                <img src="/media/product_images/not_found.png" class="card-img-top" alt="Placeholder">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        {{ product.description|truncatechars:100 }}
                    </p>
                    <p class="card-text"><strong>Цена:</strong> {{ product.price }} $</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary mt-auto d-block mx-auto" style="width: 120px;">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Товары пока не добавлены.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
