{% extends 'base.html' %}

{% block title %}{{ product.name }} — Skystore{% endblock %}

{% block content %}
<div class="container mt-1">

    <div class="d-flex justify-content-center mb-3">
        <a href="{% url 'catalog:product_list' %}" class="btn btn-outline-secondary">
            ← Назад к товарам
        </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">
            <div class="card shadow-sm rounded-5" style="background-color: #E9ECEF;">

                <div class="card-body">

                    {% if product.image %}
                        <div class="mb-3 text-center">
                            <img src="{{ product.image.url }}"
                                 alt="{{ product.name }}"
                                 class="img-fluid rounded"
                                 style="max-height: 350px; object-fit: cover;">
                        </div>
                    {% else %}
                <img src="/media/default_images/not_found.png" class="card-img-top" alt="Placeholder">
                    {% endif %}

                    <h2 class="card-title text-center mb-2">{{ product.name }}</h2>

                    <p class="text-center text-muted mb-1">
                        Категория: {{ product.category.name }}
                    </p>

                    <p class="text-center fw-bold mb-3">
                        Цена: {{ product.price }} $
                    </p>

                    <hr class="mb-3">

                    <p class="card-text">
                        {{ product.description }}
                    </p>

                    <div class="mt-4 text-center">
                        <button class="btn btn-primary btn-lg">
                            Заказать
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
